<footer class="page-footer">
        <div class="container" *ngFor="let datos of footer">
          <div class="row">
            <div class="col l12">
                    <div class="span6 offset3">
                            <ul class="social-networks">
                                <li><a id="Instagram"  target="_blank" (click)="abririnsta(datos)"><i class="fab fa-instagram icon-circled icon-bgdark icon-instagram icon-2x" style="font-size: 30px"></i></a></li>
                                <li><a id="Twitter"  target="_blank" (click)="abrirtwit(datos)"><i class="fab fa-twitter icon-circled icon-bgdark icon-twitter icon-2x"style="font-size: 30px"></i></a></li>
                                <li><a id="Facebook" target="_blank" (click)="abrirface(datos)"><i class="fab fa-facebook-f icon-circled icon-bgdark icon-facebook icon-2x"style="font-size: 30px"></i></a></li>
                            </ul>
                            
                                
                                </div>
            </div>
          </div>
          <div class="row" >
            <div class="col l4">
                <h5>Contáctanos</h5>
                <i class="fas fa-phone"></i>     {{datos.telefono1}} <br/><i class="fas fa-phone"></i> {{datos.telefono2}}
            </div>
            <div class="col l4">
                <h5>Escríbenos</h5>
                <i class="fas fa-envelope"></i>     {{datos.correo}}
                </div>
                <div class="col l4">
                    <h5>Visítanos</h5>
                    <i class="fas fa-map-marker-alt"></i> {{datos.direccion}}
                    </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container center">
              <div class="row">
                  <div class="col l6">
                <a class="center" style="color: #E0A801">&copy; EOS. Todos los derechos reservados.</a>
            </div>
            <div class="col l6">
          <a style="color: #E0A801;">Desarrollado por Team EOS</a>
        </div>
        </div>
          </div>
        </div>
      </footer>