<header>
    <mat-toolbar class="themis-vino fixed-header">
    <mat-toolbar-row >
            <a class="brand-logo" ><img src="../../assets/img/Logo trans.png" width="100px" height="70px"></a>
      <span class="example-spacer"></span>
       
    <button mat-button class="botones-themis" [routerLink]="[ '/inicio']">Inicio<mat-icon class="example-icon">home</mat-icon></button>
    <button mat-button class="botones-themis" [routerLink]="[ '/nosotros']">Nosotros<mat-icon class="example-icon">domain</mat-icon></button>
    <button mat-button class="botones-themis" [routerLink]="[ '/conocenos']">Conócenos<mat-icon class="example-icon">group</mat-icon></button>
    <button mat-button class="botones-themis" [routerLink]="[ '/servicio']">Servicios<mat-icon class="example-icon">card_travel</mat-icon></button>
    <button mat-button class="botones-themis" [routerLink]="[ '/promociones']">Promociones<mat-icon class="example-icon">loyalty</mat-icon></button>
    <button mat-button class="botones-themis" [routerLink]="[ '/suscribirse']">Subscribirse<mat-icon class="example-icon">person</mat-icon></button>
    <button mat-button class="botones-themis" (click)="login()">Entrar<mat-icon class="example-icon">add_to_home_screen</mat-icon></button>

    </mat-toolbar-row>
    </mat-toolbar>
    </header>
    
