
<h2 class="class container center" style="margin-top: 100px;">¿Por que suscribirte?</h2 >


<div class="container" style="margin-top: 100px;" >
<div class="row">

  <div class="col s4">
    <div class="center promo promo-example">
      <ul class="Beneficios">
      <i class="far fa-calendar-alt " style="font-size: 150px; color: #5e2129"></i>
    </ul>
    <p>Agenda tu cita con nuestros abogados</p>
    </div>
  </div>
  <div class="col s4">
      <div class="center promo promo-example">
          <ul class="Beneficios">
          <i class="fas fa-globe " style="font-size: 150px; color: #5e2129"></i>
          </ul>
        <p>Mantente informado sobre tu caso desde donde estés</p>
        </div>
  </div>
  <div class="col s4">
      <div class="center promo promo-example">
          <ul class="Beneficios">
          <i class="fas fa-comments" style="font-size: 150px; color: #5e2129"></i>
          </ul>
        <p>Obten una linea directa de comunicación con tu abogado</p>
        </div>


      <i class=""></i>
  </div>

</div>
</div>

<div class="container2 center" >


<div class="class container " style="margin-top: 50px; padding: 40px">
    <h3 style="margin-top: 50px">Suscríbete siguiendo 3 simples pasos </h3>
  <mat-horizontal-stepper linear #stepper style="padding: 40px" class="z-depth-4">
    <mat-step [stepControl]="firstFormGroup" >
        <form [formGroup]="firstFormGroup">
        <div class="row">
          <div class="col m3">
        <ng-template matStepLabel>Introduce tus datos filiatorios</ng-template>
        <mat-form-field>
          <input matInput placeholder="Nombre"  formControlName="nombrectrl"required >
        </mat-form-field>
      </div>
      <div class="col m3">
        <ng-template matStepLabel>Introduce tu Apellido</ng-template>
        <mat-form-field>
            <input matInput placeholder="Apellido"  formControlName="apellidoctrl" required>
          </mat-form-field>
        </div>
        <div class="col m3">
            
            <ng-template matStepLabel>Sexo</ng-template>
            <mat-form-field>
            <mat-select [(value)]="opcion"  placeholder="Elige una opcion" formControlName="sexoctrl" required>
                
                    
                    <mat-option value="M">Mujer</mat-option>
                    <mat-option value="H">Hombre</mat-option>
                
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col m3">
            <mat-form-field>
                <ng-template matStepLabel>Elige tu fecha de Nacimiento</ng-template>
                <input matInput [matDatepicker]="picker" placeholder="Fecha de nacimiento"  formControlName="fechactrl" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
       
      </div>
      <div>
          <button mat-button matStepperNext class="boton" >Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
        <div class="row">
          <div class="col m6">
              <ng-template matStepLabel>Introduce tus datos de contacto</ng-template>
              <mat-form-field>
                <input matInput placeholder="Telefono" formControlName="telefonoctrl"  type="number">
              </mat-form-field>
          </div>
        
        <div class="col m6">
        <mat-form-field>
          <input matInput placeholder="Correo" formControlName="correoctrl" >
        </mat-form-field>
      </div>
    </div>
        <div class="row">
          <div class="col m6">
          <button mat-button matStepperPrevious class="boton">Regresar</button>
        </div>
        <div class="col m6">
          
          <button mat-button matStepperNext class="boton" (click)="onSubscribe()">Siguiente</button>
        </div>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Fin</ng-template>
      <div *ngIf="existe, else act">
      <p class="center"> {{mensaje}}</p> 
      <button mat-button matStepperPrevious class="boton">Regresar</button>
    </div>
      <ng-template #act>
          <p class="center"> {{mensaje}}</p> 
      </ng-template>

    
    </mat-step>
  </mat-horizontal-stepper>
</div>
</div>