.container {
	text-align: center;
}

p {
	text-align: justify;
}

.titulos {
	text-align: center;
	font-size: 50px;
}

img {
  width: 280px;
  height: 160px;
	margin: 5px;
	
}

/* Animaciones */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.efecto {
	border: 2px solid #5e2129;
}

.efecto:hover {
	border:2px solid #E0A801;;
}
