
<section style="margin-top:100px">

<div class="row animated fast fadeIn" >
<div class="container" >
  <div class="col m4" *ngFor="let filo of nosotros" >
      <div class="card darken-1 efecto">
          <div class="card-title titulos">Misión</div>
          <div class="card-img">
            <img src="{{filo.imagen_mision}}">
          </div>
          <div class="card-content">
             <p>{{filo.mision}}</p>
          </div>
      </div>
            
        
  </div>

  <div class="col m4" *ngFor="let filo of nosotros">   
      <div class="card darken-1 efecto">
        <div class="card-title titulos">Visión</div>
        <div class="card-img">
            <img src="{{filo.imagen_vision}}">
          </div>
          <div class="card-content">
              <p>{{filo.vision}}</p>
          </div>               
            
      </div>
  </div>
  <div class="col m4" *ngFor="let filo of nosotros">            
            
      <div class="card darken-1 efecto">
          <div class="card-title titulos">Valores</div>
          <div class="card-img">
            <img src="{{filo.imagen_valores}}">
          </div>
          <div class="card-content">
            <p>{{filo.valor1}} <br> {{filo.valor2}} <br> {{filo.valor3}}</p>
          </div>
      </div>
               
  </div>

</div>
</div>
      
</section>
