
<div class="container center" style="margin-top: 100px; ">
    
    <mat-form-field style="width: 70%;">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput type="text" placeholder="Filtrar" [(ngModel)]="valor" (keyup)="FiltrarPromocionNombre()">
        <button mat-button *ngIf="valor" matSuffix mat-icon-button aria-label="Clear" (click)="valorInput()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    

    
</div>
<div class="container center" style="margin-top: 50px; ">
    
    <div class="class row" style="margin-top: 60px">
        <div class="col s4" *ngFor="let pro of promocion">
            <div class="card medium">
                <div class="card-image waves-effect waves-block waves-light">
                    <img  height="220px" class="activator" src="{{pro.imagen}}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{pro.nombre}}<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{pro.nombre}}<i class="material-icons right">close</i></span>
                    <p>{{pro.descripcion}} <br> <strong>Válido desde el </strong>{{pro.fecha_inicio}} <br><strong>
                        Hasta el </strong>{{pro.fecha_fin}}</p>
                </div>
            </div>
        </div>
    </div>


</div>

<div class="container center">
    <h4 class="col m4 l4">¿Desea obtener mayor información?</h4>
    <div class="row" style="text-align: center">
        <button mat-button class="boton" [routerLink]="[ '/suscribirse']">Suscribete</button>
    </div>
</div>