<div class="fixed-action-btn">
  <a href="#form" class="waves-effect  color2 modal-trigger waves-light btn ">Envíanos un mensaje <i class="fas fa-headset"></i></a>

  <div class="modal" id="form">
      <div class="container">
          <br>
          <br>
          <br><div class="row center">
              <h4>Envianos tus sugerencias o preguntas</h4> 
            </div>
          <br>
          <br>
          <br>
        
        <form class="example-form2">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Correo electrónico" value="" [formControl]="correoFormControl">
          </mat-form-field>
          <br>
          <br>
          <br>
          
        </form>

        <form class="example-form3">

            <mat-form-field class="example-full-width">
              <input matInput #message maxlength="256" placeholder="Escriba aquí su mensaje" [formControl]="mensajeFormControl">
              <mat-hint align="start"><strong></strong> </mat-hint>
              <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
            </mat-form-field>
            <br>
          </form>
          <br>
          <div class="row center">
          <button class="modal-close btn color waves-effect" type="submit" name="action" (click)="enviar()">Enviar
            
          </button>
        </div>


          <br>
          <br>
          <br>
        
        </div>
      
  </div>   
</div>


