.example-full-width{
    width: 100%;
}

.color{
    color: white !important;
    background: #5E2129 !important;
    
    border: 0px solid #5E2129 !important;
}
.color2{
    color: white !important;
    background: #E0A801 !important;
    
    border: 0px solid #E0A801 !important;
}