<section class="container" style="margin-top:120px">
    
    <div class="row active-with-click" >
        <div class="col l4 m6 s12" *ngFor="let emp of empleados">
            <article class="material-card CaputGold">
                <h2>
                    <span>{{emp.empleado_nombre}} {{emp.empleado_apellido}}</span>
                    <strong>
                        <i class="material-icons">star</i>
                        {{emp.rol_usuario}} {{emp.empleado_especialidad}}
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="{{emp.usuario_foto}}">
                    </div>
                    <div class="mc-description">
                        {{emp.experiencia}}</div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    
                </div>
            </article>
        </div>
        

        
    </div>
</section>
