/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');
@import "~ng-pick-datetime/assets/style/picker.min.css";
@include mat-core();

$primary: mat-palette($mat-red, 900);
$accent:  mat-palette($mat-yellow, 600, A200, A400);
$warn:    mat-palette($mat-yellow, 600);

$config: mat-typography-config();


$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
header{
  font-family:'Poppins', sans-serif($config);
  font-weight: normal;
}
body {
  font-family:'Poppins', sans-serif($config);
  font-weight: normal;
  
    //background: -webkit-linear-gradient(to bottom, #EAECC6, #f4f4f4);
    //background: linear-gradient(to bottom, #EAECC6, #f4f4f4);
    background-color: #FFFEF6;
}

h1, h2, h3, h4 {
  font-weight: normal;
}
footer{
  font-family:'Poppins', sans-serif($config)!important;
  font-weight: normal;
}
