<div class="row" style="margin-bottom: 0px">
           
    <div class="slider">
        <ul class="slides" >
            <li *ngFor="let imag of carrusel">
                <img src="{{imag.imagen}}">
                <div class="caption center-align">
                    
                   <h2 style="margin-top:400px">{{imag.texto}}</h2>
                </div>                  
            </li>
            
        </ul>
          </div>
       

</div>
    
    <!--que hacemos-->
    <div class="container" *ngFor="let ini of inicio">
        <div class="row" style="margin-bottom:0px">
            <div class="col m6 left" style="margin-top:60px">
                <img src="{{ini.imagen_nosotros}}" height="300px" width="400px" alt="" >
            </div>
        <div class="col m6">
            <h3 class="titulo">{{ini.titulo_nosotros}}</h3>
            <p><strong>{{ini.texto1_nosotros}}</strong>
            </p>
            
        </div>
        </div>
        <div class="row">
            <div class="col m12">
                    <p><strong>{{ini.texto2_nosotros}}</strong></p>
                
            </div>
        </div>
    </div>
   
    
    <section class="spacer bg3" style="margin-top: 0px; padding: 0;">
        <div class="container" *ngFor="let ini2 of inicio">
            <div class="row">
                <div class="span12 aligncenter">
                    <h3 >
                        {{ini2.titulo_equipo}}
                    </h3>
                </div>
                <div class="row" style="margin-top: 100px">
                    <div class="col m{{col}} center" *ngFor="let emp of empleados2">
                        <img src="{{emp.imagen}}" class="icon-circled icon-2x">
                        <h5><strong> {{emp.nombre}}<br>{{emp.apellido}}</strong></h5>
                        <p style="font-size: 20px">Abogado {{emp.especialidad}}</p>
                    </div>
                    
                  </div>
            </div>
            <div class="row" style="text-align: center">
            <button mat-button class="boton" [routerLink]="[ '/conocenos']" >Conócenos</button>
        </div>
        </div>
    </section>
    
        
    <div class="container" style="margin-top:70px" *ngFor="let ini3 of inicio">
        <div class="row">
            <div class="col m6">
                <img src="{{ini3.imagen_app}}" width="250px" height="400px">
            </div>
            <div class="col m6">
                <h3 class="titulo">{{ini3.titulo_app}}</h3>
                <p><strong>{{ini3.texto_app}}</strong></p>
                <div class="discover-button clearfix2">
                    <a href="#" class="button button-download">
                        <span class="button-download-title">Descargar para</span>
                        <span class="button-download-subtitle">iOS</span>
                    </a>

                    <a href="#" class="button button-download android">
                        <span class="button-download-title">Descargar para</span>
                        <span class="button-download-subtitle">Android</span>
                    </a>
        </div>
    </div>
    </div>
    </div>
    
      
    